includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - wp-content/themes/kumiai-theme
    excludePaths:
        - vendor
        - node_modules
    bootstrapFiles:
        - .ide-stubs/wp-runtime-constants.php
